.authform
  %h3
    登録内容の編集
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :nickname,'名前'
      = f.text_field :nickname, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset
      %p パスワードを変更しない場合は入力しないでください
      .form-group
        = f.label :password,'変更後のパスワード'
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p 変更するにはパスワードの入力が必要です
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit '変更', :class => 'button right'
.authform
  %h3 アカウントの削除
  %p クリックするとアカウントを削除します
  = button_to "アカウントを削除", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right'
